
NEXT_PUBLIC_SUPABASE_URL=https://<your-project-ref>.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your-anon-key>
SUPABASE_SERVICE_ROLE_KEY=<your-service-role-key>


## For demonstration purposes, I will be inputting env values here for proper demonstration on your end
## NEXT_PUBLIC_SUPABASE_URL=https://wkaqwgkdhenlvukwcgau.supabase.co
## NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrYXF3Z2tkaGVubHZ1a3djZ2F1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MTMxMTQsImV4cCI6MjA4NzI4OTExNH0.9WPU2Kl4r6Oe9MIOd6oUtmpXqdtYe586E2mMjVHIcew
## SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrYXF3Z2tkaGVubHZ1a3djZ2F1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTcxMzExNCwiZXhwIjoyMDg3Mjg5MTE0fQ.1Q3PASF-dhtzgOETRYqGGxnbBrUTAjYQLe8HvlrLDJ4
